<div class="filter" id="filter">
  <ul>
    <li><input type="search" id="restaurant-search" placeholder="Išči" incremental="incremental"></li>
    <li><input type="checkbox" name="all" id="adapt-bounds"><label for="adapt-bounds">Prilagajaj zemljevid iskanju</label></li>
    <li><input type="checkbox" name="all" id="all-switch" checked="checked" disabled="disabled"><label for="all-switch">vse</label></li>
    <% @features.each do |feature| %>
    <li><input type="checkbox" name="<%= feature.title.gsub(' ', '') %>" class="feature-filter" id="<%= feature.title.gsub(' ', '') %>-switch" data-feature-id="<%= feature.id %>"><label for="<%= feature.title.gsub(' ', '') %>-switch"><%= feature.title %></label></li>
    <% end %>
  </ul>
</div>
<div class="main" id="main">
  <a href="#" id="geolocate-icon" class="hidden"><img height="20px" width="20px" src="<%= path_to_image 'locate.svg' %>"></a>
  <div id='map'></div>
</div>
<%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=true' %>
<%= javascript_include_tag 'prehrana' %>