.prehrana-info
  %h4= restaurant.name
  %address= restaurant.address
  %p
    %strong= restaurant.price
  - if restaurant.telephones.any?
    %p
      Tel.: #{restaurant.telephones.map {|str| "<a href=\"tel:#{str}\">#{str}</a>"}.join(', ').html_safe}
  %ul
    %li
      Delavnik: #{restaurant.opening[:week][0]} - #{restaurant.opening[:week][1]}
    - if restaurant.opening[:saturday]
      %li
        Sobota: #{restaurant.opening[:saturday][0]} - #{restaurant.opening[:saturday][1]}
    - else
      %li Sobota: zaprto
    - if restaurant.opening[:sunday]
      %li
        Nedelja: #{restaurant.opening[:sunday][0]} - #{restaurant.opening[:sunday][1]}
    - else
      %li Nedelja: zaprto
    - if restaurant.opening[:notes]
      %li
        Opombe: #{restaurant.opening[:notes]}
  %p
    Storitve: #{restaurant.features.map(&:title).join(', ')}
