<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Študentska prehrana</title>   
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0" />
    <meta name="apple-mobile-web-app-title" content="Boni">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Ponudniki študentske prehrane na zemljevidu">
    <meta name="keywords" content="študentska prehrana, študentski boni, boni, prehrana, zemljevid, mapa, karta">
    <meta name="author" content="Miha Rekar">
    <meta property="og:title" content="Boni na zemljevidu"> 
    <meta property="og:description" content="Ponudniki študentske prehrane na zemljevidu"> 
    <meta property="og:image" content="<%= path_to_image 'icons/sb144.png' %>">
    <link rel="author" href="humans.txt">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= path_to_image 'icons/sb144.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= path_to_image 'icons/sb114.png' %>">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= path_to_image 'icons/sb72.png' %>">
    <link rel="apple-touch-icon-precomposed" href="<%= path_to_image 'icons/sb57.png' %>">
    <link rel="shortcut icon" href="<%= path_to_image 'icons/sb57.png' %>">
    <link rel="shortcut icon" href="<%= path_to_image 'icons/favicon.ico' %>">  
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-356422-20']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>