!!!
%html
  %head
    %title Bonar
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{content: "Miha Rekar", name: "author"}
    %meta{content: "Bonar", name: "apple-mobile-web-app-title"}
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}
    %meta{content: "Ponudniki študentske prehrane na zemljevidu", name: "description"}
    %meta{content: "študentska prehrana, študentski boni, boni, bonar, prehrana, zemljevid, mapa, karta", name: "keywords"}
    %meta{content: "Bonar", property: "og:title"}
    %meta{content: "Ponudniki študentske prehrane na zemljevidu", property: "og:description"}
    %meta{content: path_to_image('icons/sb144.png'), property: "og:image"}
    %link{href: path_to_image('icons/sb144.png'), rel: "apple-touch-icon-precomposed", sizes: "144x144"}
    %link{href: path_to_image('icons/sb114.png'), rel: "apple-touch-icon-precomposed", sizes: "114x114"}
    %link{href: path_to_image('icons/sb72.png'), rel: "apple-touch-icon-precomposed", sizes: "72x72"}
    %link{href: path_to_image('icons/sb57.png'), rel: "apple-touch-icon-precomposed"}
    %link{href: path_to_image('icons/sb57.png'), rel: "shortcut icon"}
    %link{href: path_to_image('icons/favicon.ico'), rel: "shortcut icon"}
    %link{href: "humans.txt", rel: "author"}
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel: "stylesheet"}
    = stylesheet_link_tag "list", media: "all"
    %script{src: "//code.jquery.com/jquery-2.1.0.min.js"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"}
    = javascript_include_tag "list"
    = csrf_meta_tags
  %body
    #wrap
      .navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            %a.navbar-brand{href: "/"} Bonar
      .container
        .row
          .col-md-12
            = render 'layouts/flash'
            = yield
    #footer
      .container
        %p.text-muted.credit
          Copyright © 2013
          %a{href: "http://bonar.si/"} Bonar
